<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<h1>Register</h1>

<form name="register" method="post" action="database.php">
        <input type="text" name="registname" placeholder="Username"/>
        <input type="password" name="registpass" placeholder="Password"/>
        <button type="submit"> Register </button>
</form>

<h1>Login</h1>
<form name="login" method="post" action="login.php">
        <input type="text" name="userid" placeholder="Username"/>
        <input type="password" name="pswrd" placeholder="Password"/>
        <button type="submit"> Login </button>
</form>
</body>
</html>